<main class="form-signin w-100 m-auto text-center">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <h1 class="h3 mb-3 fw-normal">Login</h1>
  
      <div class="form-floating">
        <input type="text" #userName="ngModel" [(ngModel)]="model.userName"  class="form-control" name="userName" id=" userName" placeholder="Kullanıcı adı ">
        <label for="floatingInput">Kullanıcı adı</label>
      </div>
      <div class="form-floating">
        <input type="password" #password="ngModel" [(ngModel)]="model.password" class="form-control" name="password" id=" password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
</main>