<div class="row">
  <!-- <h3 *ngIf="products; else: noProduct">{{title}}</h3> -->
  <app-category></app-category>
  <div class="mb-3">
    <input class="form-control" id="productName" placeholder="Arama metninizi giriniz" [(ngModel)]="filterText">
  </div>
 
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      Bu kategoride ürün yoktur
    </div>
  </ng-template>
  <div *ngFor="let product of products |productFilter:filterText" class="card product-box ms-2" style="width: 18rem;">
    <img [src]="product.imageUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}} {{product.price | currency}}</h5>
        <p class="card-text">{{product.description}}</p>
        <a (click)="addToCart(product)" class="btn btn-primary">Sepete ekle</a>
      </div>
  </div>
  
</div>
